<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">
    <select id="selectUser" resultType="user">
        SELECT * FROM  user WHERE
         weight = 1
         and `type` != 'lin'
         and `type` != 'ke'
    </select>
    <select id="selectTime" resultType="user">
        SELECT * FROM  user
    </select>
</mapper>